{% extends 'base.html.twig' %}

{% block title %}Edit ReservationSession{% endblock %}

{% block body %}
    <h1>Edit ReservationSession</h1>

    {{ include('reservation_session/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservation_session_index') }}">back to list</a>

    {{ include('reservation_session/_delete_form.html.twig') }}
{% endblock %}
