{% extends 'base.html.twig' %}

{% block title %}New ReservationSession{% endblock %}

{% block body %}
    <h1>Create new ReservationSession</h1>

    {{ include('reservation_session/_form.html.twig') }}

    <a href="{{ path('app_reservation_session_index') }}">back to list</a>
{% endblock %}
