{% extends '/User/base_dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Welcome to the Dashboard</h1>
    <!-- Dashboard-specific content goes here -->
{% endblock %}